﻿@model _0.Share.ViewModels.User.UserCreateDto

<form asp-action="Create">
    <br />
    <h1 class="text-primary">Create User</h1>

    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-2">
            <label asp-for="FirstName" class="control-label pt-2" style="font-size:20px"></label>
        </div>
        <div class="col-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="LastName" class="control-label pt-2" style="font-size:20px"></label>
        </div>
        <div class="col-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="Username" class="control-label pt-2" style="font-size:20px"></label>
        </div>
        <div class="col-10">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="HashPassword" class="control-label pt-2" style="font-size:20px"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="HashPassword" class="form-control" />
            <span asp-validation-for="HashPassword" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="Role" class="control-label pt-2" style="font-size:20px"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="Role" class="form-control" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="col-2">
            <label asp-for="ManagerId" class="control-label pt-2" style="font-size:20px"></label>
        </div>
        <div class="col-10 pb-3">
            <input asp-for="ManagerId" class="form-control" />
            <span asp-validation-for="ManagerId" class="text-danger"></span>
        </div>

        <div class="col-5 offset-2">
            <a asp-action="Create" asp-controller="User" class="btn-primary btn form-control">Back to list</a>
        </div>
        <div class="col-5">
            <input type="submit" value="Create" class="btn btn-success form-control" />
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}