﻿@model IEnumerable<_0.Share.ViewModels.User.UserDto>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class=" = col">
            <h1 class="text-primary">User List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="User" asp-action="Create" a class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create new User</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Display Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Money
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DisplayName</td>
                    <td>@item.Email</td>
                    <td>@((item.Money).ToString("c"))</td>
                    <td>
                        <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id" a class="btn btn-success"><i class="bi bi-pencil-fill"></i>Details</a>
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id" a class="btn btn-success"><i class="bi bi-pencil-fill"></i>Edit</a>
                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" a class="btn btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>