@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutUser";
}
<div class="p-3">
    <h4 class="font-size-18 text-muted mt-2 text-center">Welcome Back !</h4>
    <p class="text-muted text-center mb-4">Sign in to continue.</p>

    <form class="form-horizontal" action="index.html">

        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input type="text" class="form-control" id="username"
                placeholder="Enter username">
        </div>

        <div class="mb-3">
            <label class="form-label" for="userpassword">Password</label>
            <input type="password" class="form-control" id="userpassword"
                placeholder="Enter password">
        </div>

        <div class="mb-3 row mt-4">
            <div class="col-sm-6">
                <div class="form-checkbox">
                    <input type="checkbox" class="form-check-input me-1"
                        id="customControlInline">
                    <label class="form-label" class="form-check-label"
                        for="customControlInline">Remember me</label>
                </div>
            </div>
            <div class="col-sm-6 text-end">
                <button class="btn btn-primary w-md waves-effect waves-light"
                    type="submit">Log In</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <a href="pages-recoverpw.html" class="text-muted"><i
                        class="mdi mdi-lock"></i> Forgot your password?</a>
            </div>
        </div>
    </form>

</div>