@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutUser";
}
<div class="p-3">
    <h4 class="font-size-18 text-muted mt-2 text-center">Free Register</h4>
    <p class="text-muted text-center mb-4">Get your free account now.</p>

    <form class="form-horizontal" action="index.html">

        <div class="mb-3">
            <label class="form-label" for="useremail">Email</label>
            <input type="email" class="form-control" id="useremail"
                placeholder="Enter email">
        </div>

        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input type="text" class="form-control" id="username"
                placeholder="Enter username">
        </div>

        <div class="mb-3">
            <label class="form-label" for="userpassword">Password</label>
            <input type="password" class="form-control" id="userpassword"
                placeholder="Enter password">
        </div>

        <div class="mb-3 row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-primary w-md waves-effect waves-light"
                    type="submit">Register</button>
            </div>
        </div>

        <div class="mt-4 row">
            <div class="col-12">
                <p class="text-muted mb-0">By registering you agree to the DoVT2Mail <a
                        href="#">Terms of Use</a></p>
            </div>
        </div>
    </form>

</div>