@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutUser";
}
<div class="p-3">
    <h4 class="font-size-18 text-muted mt-2 text-center mb-4">Reset Password</h4>
    <div class="alert alert-info" role="alert">
        Enter your Email and instructions will be sent to you!
    </div>

    <form class="form-horizontal" action="index.html">

        <div class="mb-3">
            <label for="useremail">Email</label>
            <input type="email" class="form-control" id="useremail"
                placeholder="Enter email">
        </div>

        <div class="mb-3 row mt-4">
            <div class="col-12 text-end">
                <button class="btn btn-primary w-md waves-effect waves-light"
                    type="submit">Register</button>
            </div>
        </div>
    </form>

</div>