﻿@using _8.WebApp.Services.IServices
@inject ICookieAuthService cookieAuthService
@inject ICookieUserDataService cookieUserDataService

@if(TempData["success"] != null)
{
    <div class="alert alert-success auto-hide">@TempData["success"]</div>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _8.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_8.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">_8.WebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">Auth</a>
                        </li>

                        @if(cookieAuthService.IsAuthenticated())
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                    
                    <!-- avatar -->
                    <div class="dropdown d-inline-block ms-2">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if(cookieUserDataService.GetUserData()?.Avatar != null)
                            {
                                <img class="rounded-circle header-profile-user" src="@cookieUserDataService.GetUserData()?.Avatar"
                                                            alt="Header Avatar">
                            }else{
                                <img class="rounded-circle header-profile-user" src="~/assets/images/users/avatar-1.jpg"
                                                            alt="Header Avatar">
                            }
                        </button>
                        
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#">
                                <i class="dripicons-user font-size-16 align-middle me-2"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="dripicons-wallet font-size-16 align-middle me-2"></i> My
                                Wallet
                            </a>
                            <a class="dropdown-item d-block" href="#">
                                <span class="badge bg-success float-end">5</span><i
                                    class="dripicons-gear font-size-16 align-middle me-2"></i> Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="dripicons-lock font-size-16 align-middle me-2"></i> Lock
                                screen
                            </a>
                            <div class="dropdown-divider"></div>
                            @if(cookieAuthService.IsAuthenticated()){
                                <a class="dropdown-item" href="/Auth/logout">
                                    <i class="dripicons-exit font-size-16 align-middle me-2"></i>
                                    Logout
                                </a>
                            }else{
                                <a class="dropdown-item text-danger" href="/Auth/login">
                                    <i class="dripicons-exit font-size-16 align-middle me-2 text-danger"></i>
                                    Login
                                </a>
                            }
                        </div>
                    </div>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - _8.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".auto-hide").fadeOut("slow", function() {
                $(this).remove();
            });
        }, 3000); // 3 seconds
    });
</script>