<!-- Left sidebar -->
<div class="email-leftbar card">
        <a asp-controller = "Email" asp-action="Compose" class="btn btn-danger rounded-pill btn-custom btn-block waves-effect waves-light">Compose</a>


    <div class="mail-list mt-4">
        <a href="#" class="active">All<span class="ms-1">(18)</span><span
                class="mdi mdi-arrow-right-drop-circle text-purple float-end mt-1"></span></a>
        <a href="#">Draft<span class="mdi mdi-arrow-right-drop-circle text-success float-end mt-1"></span></a>
        <a href="#">Scheduled<span class="mdi mdi-arrow-right-drop-circle text-warning float-end mt-1"></span></a>
        <a href="#">Sent Mail<span class="mdi mdi-arrow-right-drop-circle text-pink float-end mt-1"></span></a>
    </div>

    <h6 class="mt-4">Chat</h6>

    <div class="mt-4">
        <a href="#" class="d-flex">
            <img class="d-flex me-3 rounded-circle" src="~/assets/images/users/avatar-2.jpg"
                alt="Generic placeholder image" height="36">
            <div class="flex-1 chat-user-box">
                <p class="user-title m-0">Scott Median</p>
                <p class="text-muted text-truncate">Hello</p>
            </div>
        </a>

        <a href="#" class="d-flex">
            <img class="d-flex me-3 rounded-circle" src="~/assets/images/users/avatar-3.jpg"
                alt="Generic placeholder image" height="36">
            <div class="flex-1 chat-user-box">
                <p class="user-title m-0">Julian Rosa</p>
                <p class="text-muted text-truncate">What about our next..</p>
            </div>
        </a>

        <a href="#" class="d-flex">
            <img class="d-flex me-3 rounded-circle" src="~/assets/images/users/avatar-4.jpg"
                alt="Generic placeholder image" height="36">
            <div class="flex-1 chat-user-box">
                <p class="user-title m-0">David Medina</p>
                <p class="text-muted text-truncate">Yeah everything is fine</p>
            </div>
        </a>

        <a href="#" class="d-flex">
            <img class="d-flex me-3 rounded-circle" src="~/assets/images/users/avatar-6.jpg"
                alt="Generic placeholder image" height="36">
            <div class="flex-1 chat-user-box">
                <p class="user-title m-0">Jay Baker</p>
                <p class="text-muted text-truncate">Wow's great</p>
            </div>
        </a>
    </div>
</div>
<!-- End Left sidebar -->