﻿@model _0.Share.ViewModels.LoginRequest

@{
    ViewData["Title"] = "Login";
}

@if(TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

<h1>Login</h1>

<h4>LoginRequestDTO</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Auth" asp-action="Login" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="hidden" name="returnUrl" value="@Context.Request.Query["ReturnUrl"]" />
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
