﻿@using _0.Share.ViewModels.User
@using Microsoft.AspNetCore.Components
@model IEnumerable<UserDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<img class="d-block w-100" src="images/home/slide1.jpg" alt="">

<hr />
<div class="row" style="--bs-gutter-x:0">
    @foreach (var item in Model)
    {
        <div class="p-4 col-md-12 col-lg-6">
            <div class="row" style="border-radius:20px; border: 1px solid #ffffff">
                <div class="col-4">
                    <img class="d-block w-100" style="border-radius:20px;" src="" alt="@item.Id">
                </div>
                <div class="col-8">
                    <p class="card-title text-warning" style="font-size:xx-large">@item.DisplayName</p>
                    <p class="card-text">
                        @((MarkupString)item.CreatedAt.ToString("dd/MM/yyyy"))
                    </p>
                </div>
                <div class="col-12">
                    <div class="row pb-3 pt-2">
                        <div class="col-4">
                            <a href="" class="btn btn-success form-control btn-block">View</a>
                        </div>
                        <div class="col-4">
                            <span class="">Id : @item.Id</span><br />
                            <span class=" pt-1">Role : @item.Role</span><br />
                        </div>
                        <div class="col-4">
                            <span class="text-warning float-end font-weight-bold pt-1" style="font-size:25px;">
                                USD
                                <span style="border-bottom:1px solid #ff6a00">
                                    @item.Money.ToString("c")
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>